:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;

  height: 100vh;
  background-image: linear-gradient(var(--darkBlue), var(--brightBlue));

  list-style: none;

  line-height: 1.5;
  font-family: "Roboto", sans-serif;

  /*font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Young Serif", serif;*/

  /*colors*/
  --darkBlue: #1d2440;
  --lighterBlue: #484e63;
  --brightBlue: #374787;
  --white: #ffffff;
  --containerBackground: #d9d9d9;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*General*/

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transparentContainer {
  background-color: var(--containerBackground);
}

label {
  text-align: left;
}

input {
  padding: 0.4rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

/*-----------------------------------*/

/*Contact*/
.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
