:root {
  max-width: 1280px;
  margin: 0 auto;

  height: 100vh;
  background-image: linear-gradient(
    var(--darkBlue),
    var(--darkBlue),
    var(--brightBlue)
  );

  list-style: none;

  line-height: 1.5;
  font-family: "Roboto", sans-serif;

  /*font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Young Serif", serif;*/

  /*colors*/
  --darkBlue: #1d2440;
  --lighterBlue: #484e63;
  --brightBlue: #374787;
  --white: #ffffff;
  --containerBackground: #d9d9d963;
}

*,
html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*General*/

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--white);
}

.transparentContainer {
  background-color: var(--containerBackground);
  width: 80%;
  margin: 0.8rem;
  padding: 1rem;

  border-radius: 1rem;
}

label {
  text-align: left;
}

input {
  padding: 0.4rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*NavBar*/
.wrapperNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: sticky; /* Set the navbar to fixed position */
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: var(--darkBlue);
}

/*About*/

.wrapperTextsAbout {
  margin-left: 0.5rem;
  text-align: center;
  color: var(--white);
}

.wrapperAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#profilePic {
  height: 7rem;
  border-radius: 5rem;
}

.wrapperAbout h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}

.wrapperAbout img {
  height: 30px;
}

.wrapperImgTitleAbout {
  display: flex;
}

.IconsAbout {
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-around;
}

.wrapperAbout p {
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  color: var(--white);
}

/*Contact*/
.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
